.btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: #3e3f41;
    color: lightgray;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

    .btn-nav:hover {
        background-color: #5e5e60;
    }

.navbar-brand{
    cursor: pointer;
}

.menu li {
    width: 14%;
    transition: opacity .2s cubic-bezier(.645,.045,.355,1);
    cursor: pointer;
}

    .menu li:hover a {
        background: #5e5e60;
    }

    .menu li a {
        display: block;
        text-align: center;
        padding: 20px 0 19px;
    }

    .menu li:nth-child(1) {
        animation-delay: 30ms;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: specialFadeIn;
    }

    .menu li:nth-child(2) {
        animation-delay: 70ms;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: specialFadeIn;
    }

    .menu li:nth-child(3) {
        animation-delay: 100ms;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: specialFadeIn;
    }

    .menu li:nth-child(4) {
        animation-delay: 130ms;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: specialFadeIn;
    }


.form-search {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(.8);
    visibility: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

    .form-search.active {
        max-width: 100%;
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }

.search-bar {
    max-width: 750px;
}

.bg-sg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .8;
    z-index: 9998;
    display: none;
}

.search-results {
    position: absolute;
    top: 70px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 16px;
    background: #fff;
    display: none;
    transition: .5s ease-out;
    z-index: 9999;
}

.search-results-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

    .product-item:hover {
        background-color: #f0f0f0;
    }

.product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.product-search-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
}

.nav-right {
    display: flex;
    align-items: center; 
}


@keyframes specialFadeIn {
    0% {
        opacity: 0;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .menu li {
        width: 100%;
    }

        .menu li a {
            padding-left: 10%;
            text-align: start;
        }

    .nav-right {
        margin: 5% 0;
    }

    .search-bar {
        max-width: 600px;
    }

    .search-results {
        max-width: 450px
    }
}
