@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.bundle.scp.css';

/* _content/TGDD.Web/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-0bvrwx9b4l] {
    display: flex;
    flex-direction: column;
}

main[b-0bvrwx9b4l] {
    flex: 1;
}

#blazor-error-ui[b-0bvrwx9b4l] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-0bvrwx9b4l] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/TGDD.Web/Components/Layout/NavMenu.razor.rz.scp.css */
.btn-nav[b-wtpn9tvros] {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: #3e3f41;
    color: lightgray;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

    .btn-nav:hover[b-wtpn9tvros] {
        background-color: #5e5e60;
    }

.navbar-brand[b-wtpn9tvros]{
    cursor: pointer;
}

.menu li[b-wtpn9tvros] {
    width: 14%;
    transition: opacity .2s cubic-bezier(.645,.045,.355,1);
    cursor: pointer;
}

    .menu li:hover a[b-wtpn9tvros] {
        background: #5e5e60;
    }

    .menu li a[b-wtpn9tvros] {
        display: block;
        text-align: center;
        padding: 20px 0 19px;
    }

    .menu li:nth-child(1)[b-wtpn9tvros] {
        animation-delay: 30ms;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: specialFadeIn-b-wtpn9tvros;
    }

    .menu li:nth-child(2)[b-wtpn9tvros] {
        animation-delay: 70ms;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: specialFadeIn-b-wtpn9tvros;
    }

    .menu li:nth-child(3)[b-wtpn9tvros] {
        animation-delay: 100ms;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: specialFadeIn-b-wtpn9tvros;
    }

    .menu li:nth-child(4)[b-wtpn9tvros] {
        animation-delay: 130ms;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: specialFadeIn-b-wtpn9tvros;
    }


.form-search[b-wtpn9tvros] {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(.8);
    visibility: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

    .form-search.active[b-wtpn9tvros] {
        max-width: 100%;
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }

.search-bar[b-wtpn9tvros] {
    max-width: 750px;
}

.bg-sg[b-wtpn9tvros] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .8;
    z-index: 9998;
    display: none;
}

.search-results[b-wtpn9tvros] {
    position: absolute;
    top: 70px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 16px;
    background: #fff;
    display: none;
    transition: .5s ease-out;
    z-index: 9999;
}

.search-results-list[b-wtpn9tvros] {
    list-style-type: none;
    padding: 0;
}

.product-item[b-wtpn9tvros] {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

    .product-item:hover[b-wtpn9tvros] {
        background-color: #f0f0f0;
    }

.product-image[b-wtpn9tvros] {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.product-search-list[b-wtpn9tvros] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
}

.nav-right[b-wtpn9tvros] {
    display: flex;
    align-items: center; 
}


@keyframes specialFadeIn-b-wtpn9tvros {
    0% {
        opacity: 0;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .menu li[b-wtpn9tvros] {
        width: 100%;
    }

        .menu li a[b-wtpn9tvros] {
            padding-left: 10%;
            text-align: start;
        }

    .nav-right[b-wtpn9tvros] {
        margin: 5% 0;
    }

    .search-bar[b-wtpn9tvros] {
        max-width: 600px;
    }

    .search-results[b-wtpn9tvros] {
        max-width: 450px
    }
}
/* _content/TGDD.Web/Components/Pages/Category.razor.rz.scp.css */


.carousel-control-prev[b-3olg56wi76], .carousel-control-next[b-3olg56wi76] {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: #3e3f41;
    color: lightgray;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

.carousel-indicators li[b-3olg56wi76] {
    background-color: #007bff; 
}
/* _content/TGDD.Web/Components/Pages/Home.razor.rz.scp.css */
.custom-carousel[b-u8vtm47s09] {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.carousel-control-prev[b-u8vtm47s09], .carousel-control-next[b-u8vtm47s09] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3e3f41;
    background: #3e3f41;
    color: lightgray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
}


.carousel-control-prev[b-u8vtm47s09] {
    left: 15px;
}

.carousel-control-next[b-u8vtm47s09] {
    right: 15px;
}

.carousel-indicators li[b-u8vtm47s09] {
    background-color: #3e3f41; /* or any color you prefer */
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-fade .carousel-item[b-u8vtm47s09] {
    transition: opacity 0.5s ease-in-out;
}

.carousel-fade .carousel-item-next.carousel-item-left[b-u8vtm47s09],
.carousel-fade .carousel-item-prev.carousel-item-right[b-u8vtm47s09],
.carousel-fade .carousel-item.active[b-u8vtm47s09] {
    opacity: 1;
}

.carousel-fade .carousel-item-left[b-u8vtm47s09],
.carousel-fade .carousel-item-right[b-u8vtm47s09] {
    opacity: 0;
}

.carousel-inner img[b-u8vtm47s09] {
    max-height: 600px;
    object-fit: cover;
}
/* _content/TGDD.Web/Components/Pages/Login.razor.rz.scp.css */
.login-container[b-3um6wsa4si] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.login-card[b-3um6wsa4si] {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-title[b-3um6wsa4si] {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.login-form .form-group[b-3um6wsa4si] {
    margin-bottom: 1rem;
}

.login-form .form-control[b-3um6wsa4si] {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-button[b-3um6wsa4si] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
}

.register-option[b-3um6wsa4si] {
    text-align: center;
    margin-top: 1rem;
}

    .register-option .register[b-3um6wsa4si] {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
    }

    .register-option .register:hover[b-3um6wsa4si] {
        text-decoration: underline;
    }
/* _content/TGDD.Web/Components/Pages/LoginDisplay.razor.rz.scp.css */
.btn-nav[b-rf46ndlagg] {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: #3e3f41;
    color: white;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
}

    .btn-nav:hover[b-rf46ndlagg] {
        background-color: #5e5e60;
        color: white;
    }

.user-hello[b-rf46ndlagg] {
    color: lightgray; 
    font-size: 1rem; 
    margin-right: 10px; 
    display: flex; 
    align-items: center; 
}

/* _content/TGDD.Web/Components/Pages/ProductDetail.razor.rz.scp.css */
.carousel[b-2204l5aaw2] {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    scroll-snap-type: x mandatory;
    margin: 20px 0;
    text-align: center;
    white-space: nowrap;
}

    .carousel.active[b-2204l5aaw2] {
        background: rgba(255,255,255,0.3);
        cursor: grabbing;
        cursor: -webkit-grabbing;
        transform: scale(1);
    }

.box[b-2204l5aaw2] {
    background: #fff;
    flex: 0 0 auto;
    scroll-snap-align: start;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 0 0;
    border-radius: 8px;
    height: 80px;
    width: 80px;
    border: 3px solid transparent;
    padding: 0;
    overflow: hidden;
}

    .box img[b-2204l5aaw2] {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .box.active[b-2204l5aaw2] {
        border: 3px solid dimgray;
    }
/* _content/TGDD.Web/Components/Pages/Register.razor.rz.scp.css */
.register-container[b-xyhkie1s0c] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}


.register-card[b-xyhkie1s0c] {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.register-title[b-xyhkie1s0c] {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.register-form .form-group[b-xyhkie1s0c] {
    margin-bottom: 1rem;
}

.register-form .form-control[b-xyhkie1s0c] {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.register-button[b-xyhkie1s0c] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
}

.login-option[b-xyhkie1s0c] {
    text-align: center;
    margin-top: 1rem;
}

    .login-option .login[b-xyhkie1s0c] {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
    }

        .login-option .login:hover[b-xyhkie1s0c] {
            text-decoration: underline;
        }

.alert-danger[b-xyhkie1s0c] {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    border-radius: 4px;
    font-size: 0.875rem;
}
