.carousel[b-acm0li3g1i] {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    scroll-snap-type: x mandatory;
    margin: 20px 0;
    text-align: center;
    white-space: nowrap;
}

    .carousel.active[b-acm0li3g1i] {
        background: rgba(255,255,255,0.3);
        cursor: grabbing;
        cursor: -webkit-grabbing;
        transform: scale(1);
    }

.box[b-acm0li3g1i] {
    background: #fff;
    flex: 0 0 auto;
    scroll-snap-align: start;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 0 0;
    border-radius: 8px;
    height: 80px;
    width: 80px;
    border: 3px solid transparent;
    padding: 0;
    overflow: hidden;
}

    .box img[b-acm0li3g1i] {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 8px; 
    }

    .box.active[b-acm0li3g1i] {
        border: 3px solid dimgray;
    }


