.custom-carousel[b-u8vtm47s09] {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.carousel-control-prev[b-u8vtm47s09], .carousel-control-next[b-u8vtm47s09] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3e3f41;
    background: #3e3f41;
    color: lightgray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
}


.carousel-control-prev[b-u8vtm47s09] {
    left: 15px;
}

.carousel-control-next[b-u8vtm47s09] {
    right: 15px;
}

.carousel-indicators li[b-u8vtm47s09] {
    background-color: #3e3f41; /* or any color you prefer */
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-fade .carousel-item[b-u8vtm47s09] {
    transition: opacity 0.5s ease-in-out;
}

.carousel-fade .carousel-item-next.carousel-item-left[b-u8vtm47s09],
.carousel-fade .carousel-item-prev.carousel-item-right[b-u8vtm47s09],
.carousel-fade .carousel-item.active[b-u8vtm47s09] {
    opacity: 1;
}

.carousel-fade .carousel-item-left[b-u8vtm47s09],
.carousel-fade .carousel-item-right[b-u8vtm47s09] {
    opacity: 0;
}

.carousel-inner img[b-u8vtm47s09] {
    max-height: 600px;
    object-fit: cover;
}